* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-box {
    width: 100%;
    height: 7rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    display: flex;
    font-size: 20px;
    padding: 20px;
    gap: 20px;
}

.selections {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.selection0, .selection1 {
    width: 50%;
}

.header {
    padding: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.compImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#compImage {
    visibility: hidden;
}

.gameOptions {
    display: flex;
    padding: 20px;
    gap: 20px;
}

img {
    border-radius: 50%;
}

button {
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-color: greenyellow;
    opacity: 1;
    transition: 0.3s;
}

button:hover {opacity: 0.6;}